<!DOCTYPE html>
<html>
  <head>
    <title>Visualise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

      <style type="text/css">
        .jumbotron{padding-bottom:0;}
      </style>
      <link rel="stylesheet" href="/static/app.css">
      <link href='http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
      <h1>Visualise Your Data</h1>
      <p class="lead">

Looking at a long table of numbers is not exactly inspiring or easy. The answers
are in there somewhere, but it takes forever to get them out. You just don't
have time to open the Spreadsheet and check the numbers all the time.


      </p>
      <p><a class="btn btn-lg btn-success" href="mailto:info@uglyducking.nl" role="button">Talk to us today</a></p>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% if dynamic %}
        <iframe width="800" height="300" frameborder="0" scrolling="no" src="/static/embed_multi_line.html?index={{index}}&api=vaypKAycYmpmxs5MDmr9">iframe</iframe>
        {% else %}
          <iframe width="800" height="300" frameborder="0" scrolling="no" src="/static/static.html">iframe</iframe>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <form class="form-horizontal" method="POST" role="form" enctype="multipart/form-data" action="{{ url_for('visualise') }}">
            <div class="form-group">
              <div class="col-md-2 chart-label left">Compare</div>
              <div class="col-md-6">
                <select name="index" id="index-select" class="form-control" onchange="this.form.submit();">
                  <option id="RDSB" value="RDSB">Royal Dutch Shell</option>
                  <option id="HSBA" value="HSBA">HSBC</option>
                  <option id="BATS" value="BATS">British American Tobacco</option>
                  <option id="VOD" value="VOD">Vodafone Group</option>
                  <option id="GSK" value="GSK">GlaxoSmithKline</option>
                </select>
              </div>
              <div class="col-md-4 chart-label right">to the FTSE 100 index</div>
            </div>
            <!--
            OK, this embed link will more or less work, but disabled temporarily as:
              1) Need to talk to quandl
              2) Need to make look better
              3) Need to offer inserting own API key

            <div class="form-group">
              <label for="embed" class="col-sm-4 control-label">Embed:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="embed"
                value='&lt;iframe width="800" height="300" frameborder="0" scrolling="no" src="{{server_url}}/static/embed_multi_line.html?index={{index}}"&gt;&lt;/iframe&gt;'/>
              </div>
            </div> -->

          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Make your data sing</h2>
        <p>
        By turning your data into beautiful charts, your
        data becomes much easier to understand and interpret. By making these
        charts widely available and automatically updated, you can make sure
        your organisation always runs on up-to-date information.
        </p>
      </div>
      <div class="col-lg-4">
        <h2>These are not your Daddy's bar charts</h2>
        <p>
        We can do better than simple bar and pie charts these days.
        There's no need to confine yourself to the default Excel charts and
        grpahs. Let us help you build something beautiful and tailored to your
        organisation and the information you need at your fingertips.
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Always available</h2>
        <p>What's the point in making charts if you don't look at them?
        We'll help you get access the charts you need when you need them.
        For example, we can create a custom web dashboard or embed them into your
        company portal with a live link to the data so they are always up-to-data.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>About</h2>
	Ugly Duckling specialise in data visualisation. We help companies to make better decisions by understanding and then visualising their data.
	This can range from live data for mobile applications all the way to historical data for financial or infrastructure applications. Call us today if you need some help.
      </div>
    </div>

    <div class="footer">
      <p>&copy; UglyDuckling 2014</p>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>
      document.getElementById("{{index}}").selected = true;
    </script>
  </body>
</html>
